* {
    padding: 0px;
    margin: 0px;
    outline: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.sun {
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(orange, red, black);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100svw;
    height: 100svh;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: yellow;
    box-shadow: 0px 0px 10px yellow;
    animation-name: sun;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

@keyframes sun {
    50% {

        transform: translate(100px, 0%);
    }

    100% {

        transform: translate(0px);
    }
}